<div
  class='grid grid-rows-6 grid-cols-5 gap-2 my-5 w-3/5'
  {{document-keyboard
    onCharacter=this.onCharacter
    onDelete=this.onDelete
    onEnter=this.onEnter
  }}
>
  {{#each this.allGuesses as |guess row|}}
    {{#each guess.letters as |letter col|}}
      <LetterGuess
        @letter={{letter.letter}}
        @guessState={{letter.status}}
        @row={{row}}
        @col={{col}}
      />
    {{/each}}
  {{/each}}
</div>

{{#if this.guessHasError}}
  <ErrorToast />
{{/if}}

{{#if this.userWonGame}}
  <SuccessToast />
{{/if}}

<div class=''>
  <div class='flex justify-center mb-1'>
    <KeyboardLetter
      @letter='Q'
      @status={{get this.letterStatus 'Q'}}
      @onClick={{this.onCharacter}}
    />
    <KeyboardLetter
      @letter='W'
      @status={{get this.letterStatus 'W'}}
      @onClick={{this.onCharacter}}
    />
    <KeyboardLetter
      @letter='E'
      @status={{get this.letterStatus 'E'}}
      @onClick={{this.onCharacter}}
    />
    <KeyboardLetter
      @letter='R'
      @status={{get this.letterStatus 'R'}}
      @onClick={{this.onCharacter}}
    />
    <KeyboardLetter
      @letter='T'
      @status={{get this.letterStatus 'T'}}
      @onClick={{this.onCharacter}}
    />
    <KeyboardLetter
      @letter='Y'
      @status={{get this.letterStatus 'Y'}}
      @onClick={{this.onCharacter}}
    />
    <KeyboardLetter
      @letter='U'
      @status={{get this.letterStatus 'U'}}
      @onClick={{this.onCharacter}}
    />
    <KeyboardLetter
      @letter='I'
      @status={{get this.letterStatus 'I'}}
      @onClick={{this.onCharacter}}
    />
    <KeyboardLetter
      @letter='O'
      @status={{get this.letterStatus 'O'}}
      @onClick={{this.onCharacter}}
    />
    <KeyboardLetter
      @letter='P'
      @status={{get this.letterStatus 'P'}}
      @onClick={{this.onCharacter}}
    />
  </div>
  <div class='flex justify-center mb-1'>
    <KeyboardLetter
      @letter='A'
      @status={{get this.letterStatus 'A'}}
      @onClick={{this.onCharacter}}
    />
    <KeyboardLetter
      @letter='S'
      @status={{get this.letterStatus 'S'}}
      @onClick={{this.onCharacter}}
    />
    <KeyboardLetter
      @letter='D'
      @status={{get this.letterStatus 'D'}}
      @onClick={{this.onCharacter}}
    />
    <KeyboardLetter
      @letter='F'
      @status={{get this.letterStatus 'F'}}
      @onClick={{this.onCharacter}}
    />
    <KeyboardLetter
      @letter='G'
      @status={{get this.letterStatus 'G'}}
      @onClick={{this.onCharacter}}
    />
    <KeyboardLetter
      @letter='H'
      @status={{get this.letterStatus 'H'}}
      @onClick={{this.onCharacter}}
    />
    <KeyboardLetter
      @letter='J'
      @status={{get this.letterStatus 'J'}}
      @onClick={{this.onCharacter}}
    />
    <KeyboardLetter
      @letter='K'
      @status={{get this.letterStatus 'K'}}
      @onClick={{this.onCharacter}}
    />
    <KeyboardLetter
      @letter='L'
      @status={{get this.letterStatus 'L'}}
      @onClick={{this.onCharacter}}
    />
  </div>
  <div class='flex justify-center mb-1'>
    <button
      type='button'
      class='bg-zinc-400 uppercase box-border text-l font-bold text-white px-2 flex justify-center items-center rounded-md mx-0.5'
      {{on 'click' this.onEnter}}
    >
      ENTER
    </button>
    <KeyboardLetter
      @letter='Z'
      @status={{get this.letterStatus 'Z'}}
      @onClick={{this.onCharacter}}
    />
    <KeyboardLetter
      @letter='X'
      @status={{get this.letterStatus 'X'}}
      @onClick={{this.onCharacter}}
    />
    <KeyboardLetter
      @letter='C'
      @status={{get this.letterStatus 'C'}}
      @onClick={{this.onCharacter}}
    />
    <KeyboardLetter
      @letter='V'
      @status={{get this.letterStatus 'V'}}
      @onClick={{this.onCharacter}}
    />
    <KeyboardLetter
      @letter='B'
      @status={{get this.letterStatus 'B'}}
      @onClick={{this.onCharacter}}
    />
    <KeyboardLetter
      @letter='N'
      @status={{get this.letterStatus 'N'}}
      @onClick={{this.onCharacter}}
    />
    <KeyboardLetter
      @letter='M'
      @status={{get this.letterStatus 'M'}}
      @onClick={{this.onCharacter}}
    />
    <button
      type='button'
      class='bg-zinc-400 uppercase box-border text-l font-bold text-white px-2 flex justify-center items-center rounded-md mx-0.5'
      {{on 'click' this.onDelete}}
    >
      DEL
    </button>
  </div>
</div>
<div class='foo'>
  <a href='https://github.com/spencer516/wordle-clone' class='text-zinc-500'>
    View Source in Github
  </a>
</div>